spring:
  mail:
    host: smtp.naver.com
    port: 465
    username: collabiz@naver.com
    password: $$collabiz
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            enable: true
  datasource:
    url: jdbc:h2:tcp://localhost/~/collabiz
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true


logging.level:
  org.hibernate.SQL: debug
  #org.springframework: debug
  #org.springframework.web : debug
server:
  port: 7070

file:
  dir: C:\Users\dahae\Desktop\study\